@import "_variables.scss";
@import "_animations.scss";

.casino{
    background-color: color(pink);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include laptop {
        
    }
    @include tablet {

    }
    @include mobile {

    }
}

.casino-title{
    height: 16rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casino-title-text{
    margin: 0;
    font-size: 6rem;
    @include laptop {
        font-size: 6rem;
    }
    @include tablet {
        font-size: 4rem;
    }
    @include mobile {
        font-size: 3rem;
    }
}

.casino-info{
    display: flex;
    flex-grow: 1;
    width: 85%;
    align-items: center;
    @include laptop {
        
    }
    @include tablet {
        flex-direction: column;
    }
    @include mobile {
        flex-direction: column;
    }
}

.casino-info-container{
    margin: 1rem;
}

.casino-info-text{
    width: 100%;
    height: 75%;   
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    @include laptop {
        
    }
    @include tablet {

    }
    @include mobile {
        margin: 1rem;
    }
}

.casino-info-text-text{
    font-size: 3rem;
    @include laptop {
        
    }
    @include tablet {
        font-size: 2rem;
    }
    @include mobile {
        font-size: 1.75rem;
    }
}

.casino-info-slideshow{
    background-color: white;
    width: 100%;
    height: 65%;
    overflow: hidden; 
    position: relative;
    border-radius: 2rem;
    @include mobile {
        height: 45%;
    }
}


.casino-info-slideshow img{ 
    position: absolute; 
    animation: slideshow 15s infinite; 
    opacity: 0; 
    width: 100%; 
    height: auto;
}

.casino-info-slideshow img:nth-child(3){
    animation-delay:0s;
}
.casino-info-slideshow img:nth-child(2){
    animation-delay:5s;
}
.casino-info-slideshow img:nth-child(1){
    animation-delay:10s;
}