@import "_variables.scss";
@import "_animations.scss";

html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
}

hr{
     border-top: 3px solid /*CHANGE*/black/*CHANGE*/;
     margin: 0;
     padding: 0;
}
  
.header{
    background-image: url("../media/header.jpg"); /* fix quality of this image pls  */
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
}

.header-text-1{
    font-size: 10rem;
    text-align: center;
    font-weight: bold;
    color: #CE93D8;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /*stroke*/
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.3,0,.3,1);
    animation-iteration-count: 1;
    @include laptop {
        font-size: 10rem;
    }
    @include tablet {
        font-size: 10rem;
    }
    @include mobile {
        font-size: 5rem;
    }
}

.header-text-2{
    font-size: 5rem;
    text-align: center;
    color: #CE93D8;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /*1px stroke*/
    animation-name: fadein-delayed;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.3,0,.3,1);
    animation-iteration-count: 1;
    @include laptop {
        font-size: 5rem;
    }
    @include tablet {
        font-size: 5rem;
    }
    @include mobile {
        font-size: 2.5rem;
    }
}

.intro{
    height: 100vh;
    width: 100%;
    background-color: color(pink);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro > div{
    height: 12rem;
    width: 80%;
    margin: 2rem;
    @include laptop {

    }
    @include tablet {
        width: 90%;
        height: 6rem;
        margin: 1rem;
    }
    @include mobile {
        width: 90%;
        height: 6rem;
        margin: 1rem;
    }
}

.intro-title{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.intro-title-text{
    font-size: 6rem;
    text-align: center;
    @include laptop {

    }
    @include tablet {
        font-size: 3rem;
    }
    @include mobile {
        font-size: 3rem;
    }
}

.intro-image{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    @include laptop {

    }
    @include tablet {
        flex-direction: column;
    }
    @include mobile {
        flex-direction: column;
    }
}

.intro-image-image{
    width: 20vw;
    height: 62.8vh;
    margin: 0 2rem;
    background-image: url("../media/intro.jpg");
    background-size: cover;
    border: 0rem solid color(purple);   
    border-radius: 5px;
    @include laptop {

    }
    @include tablet {
        width: 100%;
        margin: 0 auto;
    }
    @include mobile {
        width: 100%;
        margin: 5px auto;
    }
}

.intro-image-image:hover{
    transform: scale(1.1);
    border: 0.5rem solid color(purple);
    transition: 0.7s;
    animation-timing-function: ease-out;
}

.intro-image-image:not(hover){
    transform: scale(1);
    border: 0rem solid color(purple);
    transition: 0.7s;
    animation-timing-function: ease-out;
}

.intro-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;   
    @include laptop {

    }
    @include tablet {

    }
    @include mobile {

    }
}

.intro-subtitle-text{
    font-size: 3rem;
    text-align: center;
    @include laptop {

    }
    @include tablet {
        font-size: 2rem;
    }
    @include mobile {
        font-size: 1.5rem;
    }
}

.place{
    background-color: color(purple);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place > div{
    width: 90%;
    margin: 2rem;
}

.place-title{
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-title-text{
    font-size: 6rem;
    @include laptop {
        font-size: 6rem;
    }
    @include tablet {
        font-size: 4rem;
    }
    @include mobile {
        font-size: 3rem;
    }
}

.place-image{
    display: flex;
    flex-direction: column;
}

.place-image > div{
    margin: 1rem;
}

.place-image-image{
    height: 20rem;
    width: 80%;
    background-image: url("../media/place.jpg"); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    background-size: cover;
    @include mobile {
        height: 15rem;
    }    
}

.place-image-1{
    align-self: flex-start;
}

.place-image-2{ 
    align-self: center;
}

.place-image-3{
    align-self: flex-end;
}

.place-image-image-title{
    font-size: 5rem;
    position: absolute;
    margin: 0;
    text-align: center;
    color: color(pink);
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /*stroke*/
    @include laptop {
        font-size: 4.5rem;
    }
    @include tablet {
        font-size: 3.5rem;
    }
    @include mobile {
        font-size: 2.5rem;
    }
}

.place-image-image-description{
    font-size: 2.5rem;
    position: absolute;
    margin: 0;
    text-align: center;
    opacity: 0;
    transform: scale(1.1);
    margin: 0 2rem;
    padding: 0;
    color: color(pink);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /*stroke*/
    @include laptop {
        font-size: 2rem;
    }
    @include tablet {
        font-size: 1.5rem;
    }
    @include mobile {
        font-size: 1.1rem;
        margin: 0 1rem;
        text-shadow: none; /*stroke*/
    }
}

.place-image-image:hover .place-image-image-title{
    opacity: 0;
    transform: scale(0.9);
    transition: 0.7s;
    animation-timing-function: ease-out;
}

.place-image-image:not(hover) .place-image-image-title{
    opacity: 1;
    transform: scale(1);
    transition: 0.7s;
    animation-timing-function: ease-out;
}

.place-image-image:hover .place-image-image-description{
    opacity: 1;
    transform: scale(1);
    transition: 0.7s;
    animation-timing-function: ease-out;
}


.place-image-image:not(hover) .place-image-image-description{
    opacity: 0;
    transform: scale(1.1);
    transition: 0.7s;
    animation-timing-function: ease-out;
}

.casino{
    background-color: color(pink);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include laptop {
        
    }
    @include tablet {

    }
    @include mobile {

    }
}

.casino-title{
    height: 16rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casino-title-text{
    margin: 0;
    font-size: 6rem;
    @include laptop {
        font-size: 6rem;
    }
    @include tablet {
        font-size: 4rem;
    }
    @include mobile {
        font-size: 3rem;
    }
}

.casino-info{
    display: flex;
    flex-grow: 1;
    width: 85%;
    align-items: center;
    @include laptop {
        
    }
    @include tablet {
        flex-direction: column;
    }
    @include mobile {
        flex-direction: column;
    }
}

.casino-info-container{
    margin: 1rem;
}

.casino-info-text{
    width: 100%;
    height: 75%;   
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    @include laptop {
        
    }
    @include tablet {

    }
    @include mobile {
        margin: 1rem;
    }
}

.casino-info-text-text{
    font-size: 3rem;
    @include laptop {
        
    }
    @include tablet {
        font-size: 2rem;
    }
    @include mobile {
        font-size: 1.75rem;
    }
}

.casino-info-slideshow{
    background-color: white;
    width: 100%;
    height: 65%;
    overflow: hidden; 
    position: relative;
    border-radius: 2rem;
    @include mobile {
        height: 45%;
    }
}


.casino-info-slideshow img{ 
    position: absolute; 
    animation: slideshow 15s infinite; 
    opacity: 0; 
    width: 100%; 
    height: auto;
}

.casino-info-slideshow img:nth-child(3){
    animation-delay:0s;
}
.casino-info-slideshow img:nth-child(2){
    animation-delay:5s;
}
.casino-info-slideshow img:nth-child(1){
    animation-delay:10s;
}

.footer{
    background-color: color(purple);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid color(dark-purple);
}

.footer-text{

}

.footer-text-text{
    margin: 1px;
    padding: 0;
    font-size: 2rem;
}


