@import "_variables.scss";
@import "_animations.scss";

html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
    margin: 0;
}

hr{
     border-top: 3px solid /*CHANGE*/black/*CHANGE*/;
}
  
.header{
    background-image: url("../media/header.jpg"); /* fix quality of this image pls  */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
}

.header-text-1{
    font-size: 10rem;
    text-align: center;
    font-weight: bold;
    color: #CE93D8;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /*stroke*/
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.3,0,.3,1);
    animation-iteration-count: 1;
    @include laptop {
        font-size: 10rem;
    }
    @include tablet {
        font-size: 10rem;
    }
    @include mobile {
        font-size: 5rem;
    }
}

.header-text-2{
    font-size: 5rem;
    text-align: center;
    color: #CE93D8;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /*1px stroke*/
    animation-name: fadein-delayed;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.3,0,.3,1);
    animation-iteration-count: 1;
    @include laptop {
        font-size: 5rem;
    }
    @include tablet {
        font-size: 5rem;
    }
    @include mobile {
        font-size: 2.5rem;
    }
}

.intro{
    height: 100vh;
    width: 100vw;
    background-color: color(pink);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro > div{
    height: 12rem;
    width: 80%;
    margin: 2rem;
    @include laptop {

    }
    @include tablet {
        width: 90%;
        height: 6rem;
    }
    @include mobile {
        width: 90%;
        height: 6rem;
    }
}

.intro-title{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.intro-title-title{
    font-size: 6rem;
    text-align: center;
}

.intro-image{
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-grow: 1;
    @include laptop {

    }
    @include tablet {
        flex-direction: column;
    }
    @include mobile {
        flex-direction: column;
    }
}

.intro-image-image{
    width: 20vw;
    height: 62.8vh;
    margin: 0 2rem;
    background-image: url("../media/intro.jpg");
    background-size: cover;
    @include laptop {

    }
    @include tablet {
        width: 100%;
        margin: 0 auto;
    }
    @include mobile {
        width: 100%;
        margin: 5px auto;
    }
}

.intro-subtitle{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;   
    @include laptop {

    }
    @include tablet {

    }
    @include mobile {

    }
}
.intro-subtitle-subtitle{
    font-size: 3rem;
    text-align: center;
    @include laptop {

    }
    @include tablet {
        font-size: 2rem;
    }
    @include mobile {
        font-size: 1.5rem;
    }
 }

